<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product , class:"w3-btn w3-blue w3-round" %> |
<%= link_to 'Back', products_path , class:"w3-btn w3-blue w3-round"  %>
